<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<script>
		let pharmId = document.getElementById('pharm-id').value;
		let password = document.getElementById('password').value;
		let data = {pharmId, password};
		let response = fetch('/api/v1/pharmacy', {
			method: 'POST', // or 'PUT'
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify(data),
			})
			.then((response) => response.json())
			.then((data) => {
				console.log('Success:', data);
			})
			.catch((error) => {
				console.error('Error:', error);
			});
	</script>
	<p>Pharmacy module</p>
	<div id="pharm-div">
		<input id="pharm-id" placeholder="Pharmacy ID" ><br><br>
		<input id="password" placeholder="Password" type="password"><br><br>
		<input id="btn" value="Sing Up" type="button" onclick="location='#'">
		<input id="btn" value="Cancel" type="button" onclick="locatio='/'">
	</div>
</body>
</html>